/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 3em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.labelBold {
	font-weight: bold;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.border {
	border: 1px solid;
	border-collapse:collapse;
}

.newTab {
  background-color: #f00;
}


.normalTab {

}

.overflow-auto {
    overflow: auto;
}


.tabPanel {
	height: 100%;
}


.none {
}




/*                  */


.gwt-TabLayoutPanel {
 height: 100%;

}


/** the tab bar */
.gwt-TabLayoutPanel.gwt-TabLayoutPanelTabs {
	background-color: #5372DB;
}

/** the individual tab in the tab bar */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
 cursor: pointer;
 cursor: hand;
 color: black;
 /*min-width: 6em;*/
 background-color: #C4D0DB;
 font-size: 9pt;
 text-align: center;
 float: left;
 margin-right: 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
 cursor: default;
 background-color: #ABBCCF;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
 border:5px solid #ABBCCF;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
}

.FlexTable {
  border-top: thin solid #444444;
  border-left: thin solid #444444;
  border-right: thin solid #111111;
  border-bottom: thin solid #111111;
}

.FlexTable-ColumnLabel {
  color: white;
  padding: 3px;
}

.FlexTable-ColumnLabelCell {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.FlexTable-Cell {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
/*   padding: 5px; */
}


/* stock list header row */
.watchListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* stock list flex table */
.watchList {
	background-color: #2062B8;
  border: 5px solid black;
/*   padding: 8px; */
/*   margin-bottom:6px; */
}

.collapse{
	border-collapse:collapse;
}
